
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3A3A3A;
  align-items: flex-start;
}

.navbar__logo {
  font-size: 24px;
  color: white;
  padding:20px;

}

.navbar__logo i {
  color: #EDCE7A;
}

.navbar__menu {
  display: none;
  list-style: none;
  padding-top: 43px;
  padding-right: 8px;
  flex-direction: flex;
}

.navbar__menu li:hover {
  background-color: #EDCE7A;
  border-radius: 4px;
}

.navbar__menu li{
  padding: 8px 12px;
  float: right;
}

.navbar__toogleBtn {
  position: absolute;
  padding: 20px;
  right: 10px;
  font-size: 24px;
  color :#EDCE7A;
}

.navbar__toogleBtn {
  display: block;
}

.login {
  position: absolute;
  padding: 20px;
  right: 70px;
  font-size: 24px;
  color :#EDCE7A;
}

.navbar__menu.active {
  display: flex;
}

footer{
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 1;
  text-align: center;
  padding: 5px;
  padding-bottom: 30px;
}
