* { box-sizing: border-box; }

.southKorea {
    -webkit-animation-name: southKorea;
    -webkit-animation-duration: 1.5s;
    animation-name: southKorea;
    animation-duration: 1.5s;
    counter-increment: inner;
}

@-webkit-keyframes southKorea {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes southKorea {
    from{
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

svg .land {
    fill: #CCCCCC;
    stroke: white;
}

svg .land-hightlight {
    fill: lightskyblue;
    opacity: 1;
}

.land-tooltip {
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 7px;
    border: white solid 1px;
    background: black;
    color: white;
    font-size: medium;
    padding: 8px;
    pointer-events: none;
    box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.imagebutton {
    padding-top: 15px;
}

input[type=image] {
    margin-left: 10px;
    margin-right: 10px;
}