/* 상단 바 */

.status-bar__btn{
    background-color:#3A3A3A;
    color:#EDCE7A;
    padding-top: 13px;
    font-size:20px;
    border:none;
    min-width:110px;
    height:60px;
    font-family: "NEXON Lv2 Gothic";}

.status-bar__menu{
    position: relative;
    display: inline-block;
}

.status-bar__content {
    display: none;
    position: absolute;
    background-color: #3A3A3A;
    min-width: 110px;
    font-size:15px;
    text-align:center;
    text-decoration:none;
  }

  .status-bar__content a {
    color: white;
    padding: 12px 16px;
    margin-top: 12px;
    text-decoration: none;
    display: block;
  }
  .status-bar__menu:hover .status-bar__btn{
    background-color:  #3A3A3A;
  }
  .status-bar__content a:hover {
    background-color:#EDCE7A;
    color:#3A3A3A;
    font-weight:bold;}
  .status-bar__menu:hover .status-bar__content {
      display: block;}


body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    top: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3A3A3A;
    align-items: flex-start;
}

.navbar__logo {
    font-size: 24px;
    color: white;
    padding: 20px;
}

.navbar__logo i {
    color: #EDCE7A;
}

.login {
    position: absolute;
    padding: 20px;
    right: 100px;
    font-size: 24px;
    color :#EDCE7A;
}

.navbar__menu.active {
    display: flex;
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    background-color: lightgray;
}

#footer-logo {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

#copyright {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
}