.page {
    display: flex;
    position: absolute;
    transform: translate(300%, 20%);
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 4px;
}

.page li {
    list-style:none;
}

.page li a {
    display : block;
    width: 40px;
    height: 40px;
    text-align:center;
    line-height : 40px;
    background: #fff;
    color: #262626;
    border-radius: 4px;
    margin:5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0 , 0, 0, .5);
}

.page li a:hover {
    background: grey;
    color:#fff;
}
